:root {
    --primary-color : #DA9F5B;
    --secondary-color: #4F3D39;
    --success-color : #FFFBF2;
    --dark-color: #1B110F;
}

@font-face {
    font-family: pepper;
    src: url(/fonts/pepper-sauce.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--success-color);
}

.container {
    /* border: 1px solid #000; */
    width: 100%;
    height: auto;
}

.logo {
    /* border: 1px solid #d00505; */
    padding: 10px;
    font-size: 1.5rem;
    text-transform: uppercase ;
    font-weight: 900;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.nav-bar {
    /* border: 1px solid #000ac4; */
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    /* background-color: #4f3d39a5; */
    background: linear-gradient(to top, rgb(134, 80, 0) 2%, #4d3b007b 20%) ;
}

.menu-bar {
    list-style-type: none;
    display: flex;
}

.item-list {
    /* border-bottom: 1px solid #000ac4; */
}

.bar-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 0.7rem;
    color: var(--success-color);
}

.bar-link:active {
    color: var(--primary-color);
    font-weight: 900;
}

.bar-link:hover {
    color: var(--primary-color);
}

.main {
    padding: 150px 0;
    /* position: relative; */
    background-size: 50%;
    background-image: url('/img/branches.png');
    background-repeat: repeat-x;
    background-position: 0 bottom;
    /* animation-name: arvore; */
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes arvore {
    from {
        background-position: -500px bottom;
    }
    to{
        background-position: 2000px bottom;
    }
}

.main .slogan {
    text-align: center;
}

.header {
    background-color: #4F3D39;
    background-image: url('/images/coffee-2.jpg');
    background-size:cover;
    background-attachment: fixed;
    /* background-size: 10%; */
    background-repeat: no-repeat;
    /* background-position: 50%; */
    color: var(--success-color);
}

.active {
    color: var(--primary-color);
}

.main-coffee {
    text-transform: uppercase;
    font-size: 3.5rem;
    /* font-family: pepper; */
    /* display: none; */
}

.main-slogan {
    color: var(--primary-color);
}

.opacidade {
    width: 100%;
    height: 100%;
    background-color: #ffffffc4;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.login {
    width: 50%;
    border: 1px solid #000;
    background-color: #FFFBF2;
    color: #000;
    padding: 50px;
    box-shadow: 50px 20px 10px rgba(0, 0, 0, 0.573);
    text-shadow: 1px 1px 1px #0000ff52;
    font-size: 1.5rem;
}

.top-bar {
    color: var(--success-color);
    width: 80px;
    height: 80px;
    background-color: var(--secondary-color);
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: 700;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border-radius: 50% 20% 10% 20%;
    transition-property: height, background-color, width;
    transition-duration: 500ms, 1s, 500ms;
    transition-timing-function: ease;
    animation-name: botao;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes botao {
    from {
        bottom: 20px;
    }
    to {
        bottom: 30px;
    }
}

.top-bar:hover {
    height: 150px;
    width: 150px;
    background-color: #0000ff;
}


.pseudo {
    border: #000 solid 1px;
    width: 200px;
    margin: auto;
}

/* .pseudo span::after {
    content: '>';
    border-right: solid 1px #000;
    padding-right: 10px;
} */


@media only screen and (max-width: 992px) {
    .nav-bar {
        display: none;
    }
    .container-image-abou {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .icon-bars {
        display: none;
    } 
}

.format-text {
    border: 1px solid #000;
    max-height: 150px;
    overflow: auto;
}

.fa-house {
    font-size: 2rem;
    background: -webkit-linear-gradient(
        #0000ff, red
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    opacity: 0.5;
    -webkit-opacity: 0.3;
    -ms-opacity: 0.3;
}

.container {
    width: 85%;
    margin: auto;
}

/* Format About US */
.about {
    padding: 150px;
}
.container-image-about {
    display: flex;
    justify-content: center;
}
.image-about {
    max-width: 100%;
    height: auto;
}

.about-bartop {
    text-align: center;
    color: var(--primary-color);
    font-size: 50px;
}

.about-us {
    padding: 0 0 5px 0;
    text-align: center;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--primary-color);
}

.our-story, .our-vision {
    font-size: 0.6rem;
    padding: 40px 0 0 0 ;
}

.about-slogan {
    text-align: center;
    color: var(--dark-color);
    font-size: 2rem;
    font-weight: 600;
}

.our-story h3, .our-vision h3 {
    color: var(--dark-color);
    font-size: 1rem;
    padding-bottom: 18px;
}

.our-story div p:nth-child(2) {
    color: var(--secondary-color);
    padding: 10px 0;
    font-size: 0.7rem;
}

.our-story div p:nth-child(3), .our-vision div p {
    color: #000;
    padding: 10px 0 20px;
    font-variant: normal;
    font-size: 0.6rem;
    text-rendering: geometricPrecision;
    text-shadow: 0.001rem 0.001rem 2px var(--dark-color);
    font-weight: normal;
    line-height: 0.8rem;
}

.our-story div a, .our-vision div a  {
    background-color: var(--secondary-color);
    display: block;
    width: 150px;
    padding: 8px 5px;
    text-decoration: none;
    color: var(--success-color);
    text-align: center;
}

.our-vision div a {
    background-color: var(--primary-color);
    color: var(--dark-color);
}

.our-vision div ul {
    list-style-type: none;
    padding: 0 0 20px 0;
}
.our-vision div ul li {
    line-height: 1rem;
}
.our-vision div ul li::before {
    content: "\f00c";
    color: var(--primary-color);
    padding-right: 10px;
}


